#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Rectangle_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
filter: alpha(opacity=15) ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Icons_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_30 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_32 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_33 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_34 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Image_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Line_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}