#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
filter: alpha(opacity=15) ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Icons_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Label_30 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}