#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 #s-Rectangle_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
filter: alpha(opacity=15);
-ms-transform: rotate(0.0deg);
}
#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 #s-Panel_4 > .valign {
vertical-align: top;
}
#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 #s-Icons_5 {
-ms-transform: rotate(0.0deg);
}
#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 #s-Label_30 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-cb26283f-2ca1-4cc1-ba89-6c71db5f7287 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}