#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-f71f4a36-4d19-4c1e-8827-c8f4cf8fb326 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}