#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Statusbar {
position: absolute;
top: 0px;
left: 0px;
width: 360px;
height: 20px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Rectangle_2 {
position: absolute;
top: 0px;
left: 0px;
padding-right: 8px;
width: 352px;
height: 20px;
background-color: #000000;
background-image: none;
opacity: 0.15;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: right;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Rectangle_2 span {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Dynamic_Panel_3 {
position: absolute;
top: 0px;
left: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Panel_4 {
width: 360px;
height: 20px;
background-color: transparent;
background-image: none;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Panel_4 .verticalalign {
vertical-align: top;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Icons_5 {
width: 61px;
height: 20px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_30 {
padding-right: 5px;
width: 41px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Light,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_30 .valign {
vertical-align: middle;
text-align: right;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_30 span {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_30 span#rtr-s-Label_30_0 {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Title-bar-color_1 {
position: absolute;
top: 19px;
left: 0px;
width: 360px;
height: 80px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_31 {
position: absolute;
top: 0px;
left: 0px;
padding-top: 38px;
padding-left: 73px;
width: 287px;
height: 42px;
background-color: #08AE9E;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: -3px 0px 4px 0px #A0A0A0;
text-shadow: none;
font-size: 16.0pt;
font-family: Arial,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_31 .valign {
vertical-align: top;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_31 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_31 span#rtr-s-Label_31_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_32 {
position: absolute;
top: 36px;
left: 22px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 19.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_32 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_32 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_32 span#rtr-s-Label_32_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_33 {
position: absolute;
top: 35px;
left: 294px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 19.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_33 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_33 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_33 span#rtr-s-Label_33_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_34 {
position: absolute;
top: 35px;
left: 325px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 19.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_34 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_34 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Label_34 span#rtr-s-Label_34_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 19.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_1 {
position: absolute;
top: 594px;
left: 21px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Light,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_1 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_1 span#rtr-s-Text_1_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Image_6 {
position: absolute;
top: 49px;
left: 313px;
width: 43px;
height: 35px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Image_1 {
position: absolute;
top: 98px;
left: 0px;
width: 360px;
height: 97px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_2 {
position: absolute;
top: 165px;
left: 6px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 7.0pt;
font-family: Arial,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_2 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 7.0pt;
font-style: italic;
font-weight: 400;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_2 span#rtr-s-Text_2_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 7.0pt;
font-style: italic;
font-weight: 400;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Line_1 {
position: absolute;
top: 182px;
left: 245px;
width: 25px;
height: 6px;
border-top-width: 6px;
border-top-style: solid;
border-top-color: #C0C0C0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_1 {
position: absolute;
top: 220px;
left: 73px;
width: 212px;
height: 27px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_1 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_1 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
min-height: 10.0pt;
text-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_1 .icon {
top: 6px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_2 {
position: absolute;
top: 280px;
left: 72px;
width: 212px;
height: 27px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_2 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Input_2 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_3 {
position: absolute;
top: 294px;
left: 293px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Arial,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_3 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 10.0pt;
font-style: italic;
font-weight: 400;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Text_3 span#rtr-s-Text_3_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 10.0pt;
font-style: italic;
font-weight: 400;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light {
position: absolute;
top: 347px;
left: 146px;
width: 85px;
height: 42px;
background-color: #08AE9E;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 3px 3px 3px 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: 0px 3px 4px 0px #A0A0A0;
text-shadow: none;
font-size: 15.0pt;
font-family: Arial,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light .valign {
vertical-align: middle;
text-align: center;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 15.0pt;
font-style: normal;
font-weight: 400;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 15.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light_1 {
position: absolute;
top: 347px;
left: 256px;
width: 85px;
height: 42px;
background-color: #08AE9E;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 3px 3px 3px 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: 0px 3px 4px 0px #A0A0A0;
text-shadow: none;
font-size: 15.0pt;
font-family: Arial,Arial;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light_1 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 15.0pt;
font-style: normal;
font-weight: 400;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 15.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-66fffbbf-1dd7-4cbc-a3f0-183c8a26d8db > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}