#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Statusbar {
position: absolute;
top: 0px;
left: 0px;
width: 360px;
height: 20px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_2 {
position: absolute;
top: 0px;
left: 0px;
padding-right: 8px;
width: 352px;
height: 20px;
background-color: #000000;
background-image: none;
opacity: 0.15;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: right;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_2 span {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Dynamic_Panel_3 {
position: absolute;
top: 0px;
left: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Panel_4 {
width: 360px;
height: 20px;
background-color: transparent;
background-image: none;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Panel_4 .verticalalign {
vertical-align: top;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Icons_5 {
width: 61px;
height: 20px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Label_30 {
padding-right: 5px;
width: 41px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Light,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Label_30 .valign {
vertical-align: middle;
text-align: right;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Label_30 span {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Label_30 span#rtr-s-Label_30_0 {
color: #FFFFFF;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_1 {
position: absolute;
top: 594px;
left: 21px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Light,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_1 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_1 span#rtr-s-Text_1_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_1 {
position: absolute;
top: 113px;
left: 30px;
width: 212px;
height: 27px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_1 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_1 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
min-height: 10.0pt;
text-shadow: none;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_1 .icon {
top: 6px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_2 {
position: absolute;
top: 188px;
left: 30px;
width: 212px;
height: 27px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_2 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Input_2 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_3 {
position: absolute;
top: 200px;
left: 270px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Arial,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_3 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 10.0pt;
font-style: italic;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_3 span#rtr-s-Text_3_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 10.0pt;
font-style: italic;
font-weight: 400;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_1 {
position: absolute;
top: 0px;
left: 0px;
width: 356px;
height: 65px;
background-color: #FF9900;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_1 span {
color: #808080;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #808080;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_2 {
position: absolute;
top: 29px;
left: 114px;
width: 129px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: Microsoft Sans Serif,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_2 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_2 span#rtr-s-Text_2_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_4 {
position: absolute;
top: 32px;
left: 298px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Microsoft Sans Serif,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_4 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_4 span#rtr-s-Text_4_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_5 {
position: absolute;
top: 32px;
left: 9px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Microsoft Sans Serif,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_5 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_5 span#rtr-s-Text_5_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Microsoft Sans Serif,Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_6 {
position: absolute;
top: 236px;
left: 74px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_6 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: italic;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_6 span#rtr-s-Text_6_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: italic;
font-weight: 400;
line-height: 0px;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_7 {
position: absolute;
top: 85px;
left: 30px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_7 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: italic;
font-weight: 400;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 #s-Text_7 span#rtr-s-Text_7_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: italic;
font-weight: 400;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-bc9f9737-dad3-49d9-80b2-5347aadc8166 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}